// COLORS
$primary-color: #2c3531;
$secondary-color: #116466;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(255, 255, 255);
$light_blue: #D1E8E2;
$dark_cream: rgb(199, 157, 120);
$light_cream: rgb(248, 209, 171);
$dark-grey: #1f1e1e;
$shiny_green: #0be0b0;

//$dark-blue-text: #D9b08c; // For Headings
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
